@page "/test-component"

<h3>Test Component</h3>

<button @onclick="EventCallback.Factory.Create(this, TestMethod)">Click Me</button>

@code {
    private void TestMethod()
    {
        Console.WriteLine("Button clicked!");
    }
}